@charset "utf-8";

*{/*Sélecteur universel*/
	margin: 0;
	padding: 0;
}

html {
	background-color: #DAA520;
	height:100%;
}

body{
	width:80%;
	height:100%;
	background-color: #FFFF99;
	margin:auto;
	padding:25px;
}

h1{
	text-align: center;
	margin:10px;
}

h2, h3{
	text-align: center;
	margin-bottom:10px;
}

.formulaire{
	margin:auto;
	padding:15px;
	border: 3px solid black;
	width:250px;
	text-align: center;
	margin-bottom: 5px;
}

.bouton{
	margin:5px;
}

.erreur{
	font-size: 15px;
	color:red;
	text-align: center;
	margin-bottom: 5px
}

#formCompte{
	float:left;
	margin-left: 15%;
}

#tableCompte{
	float: right;
	margin-right: 15%
}

table {
	border: medium solid #000000;
	width:250px;
}

th {
	border: medium solid #DAA520;
	width: 50%;
}

td{
	border: thin solid #DAA520;
	width: 50%;	
}

ul {
	width:60%;
	margin: auto;
	text-align: center;
	border: medium solid black;
	margin-top: 10px;
	margin-bottom: 10px;
}
ul li {
	display: inline;
	list-style: none;
	margin:20px;
}

a:link{/*Les liens*/
	font-size:100%;
	color:black;
	text-decoration: none;
	}
	 
a:visited{
	font-size: 100%;
	color:black;
	}

a:hover{
	font-size:125%;
	}

#cliquez{
	text-decoration: underline;
	color:blue;
}

#graphiqueAccueil{
	margin:auto;
}